@font-face {
    font-family: Montserrat-Black;
    src: url(../font/customfonts/Montserrat-Black.otf);
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(../font/customfonts/Montserrat-BlackItalic.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/customfonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url(../font/customfonts/Montserrat-BoldItalic.otf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../font/customfonts/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url(../font/customfonts/Montserrat-ExtraBoldItalic.otf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../font/customfonts/Montserrat-ExtraLight.otf);
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url(../font/customfonts/Montserrat-ExtraLightItalic.otf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(../font/customfonts/Montserrat-Italic.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../font/customfonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url(../font/customfonts/Montserrat-LightItalic.otf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../font/customfonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(../font/customfonts/Montserrat-MediumItalic.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../font/customfonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../font/customfonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(../font/customfonts/Montserrat-SemiBoldItalic.otf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(../font/customfonts/Montserrat-Thin.otf);
}

@font-face {
    font-family: Montserrat-ThinItalic;
    src: url(../font/customfonts/Montserrat-ThinItalic.otf);
}

@font-face {
    font-family: VL_BoosterNextFY-Black;
    src: url(../font/customfonts/VL_BoosterNextFY-Black.otf);
}

@font-face {
    font-family: VLBOOSTERNEXTFY-THIN;
    src: url(../font/customfonts/VLBOOSTERNEXTFY-THIN.OTF);
}


@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../font/customfonts/OpenSans-ExtraBold.ttf);
}

